.products-container {
  background: #5bbcff;
  width: 100%;
}
.wave {
  margin-bottom: -50px;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
  position: relative;
  overflow-x: auto;
}
@media screen and (max-width: 480px) {
  .card-container {
    overflow-x: hidden;
    flex-wrap: wrap;
  }
}
