.project-container {
  display: flex;
  padding: 2% 10%;
  width: 80%;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(148, 148, 148, 0.8);
}
.project-container img {
  width: 40vh;
  border-radius: 10px;
  margin-right: 50px;
  object-fit: cover;
  object-position: center;
}
.project-title {
  font-family: var(--card-title-font);
  font-size: 30px;
}
.project-desc {
  margin-top: 20px;
  width: 80%;
}
@media screen and (max-width: 480px) {
  .project-container {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  .project-container img {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .project-title {
    font-size: 23px;
    margin: 20px;
  }
  .project-desc {
    padding: 20px 0;
    font-size: 15px;
    text-align: center;
    margin: auto;
  }
}
