.misi {
  margin-top: 50px;
}

.cardMisi-container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
}

@media screen and (max-width: 480px) {
  .cardMisi-container {
    flex-wrap: wrap;
  }
  .visi .description {
    text-align: center;
    font-size: 20px;
  }
}
