.our-partner {
  background: white;
}
.partnerCard {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .partnerCard {
    flex-wrap: wrap;
  }
}
