.contactPages-container {
  display: flex;
  padding: 10px;
  align-items: center;
}

.desc {
  text-align: left;
  height: fit-content;
}
@media screen and (max-width: 480px) {
  .contactPages-container {
    flex-direction: column;
  }
}
