.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
  padding: 10px 0;
}
.logo img {
  height: 60px;
  margin-left: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.logo img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  scale: 1.03;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.nav-menu li {
  list-style-type: none;
  margin: 15px;
  font-size: 18px;
  font-family: var(--font-desc);
  font-weight: 300;
}
.nav-menu {
  /* background: red; */
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.burger-toggle {
  height: 35px;
  width: 40px;
  margin-right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
}

.toggle {
  height: 20%;
  border-radius: 5px;
  transition: 0.5s;
}
.toggle1 {
  background-color: #0000cc;
  width: 100%;
}
.toggle2 {
  background-color: #ffc000;
  width: 50%;
}
.toggle3 {
  background-color: #ff0000;
  width: 100%;
}
.change .toggle1 {
  transform: translate(0, 15px) rotate(-55deg);
}

.change .toggle2 {
  transform: translate(-16px, 2px) rotate(0deg);
  width: 22%;
  height: 25%;
  z-index: 1;
}

.change .toggle3 {
  transform: translate(0, -12px) rotate(55deg);
  /* width: 120%; */
}

@media screen and (max-width: 480px) {
  .nav-menu {
    background-color: #f2f1f1;
    position: fixed;
    top: var(--nav-height);
    right: 0;
    margin-right: 0;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .nav-active {
    transform: translateX(0);
  }
  .nav-menu li {
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }
  .burger-toggle {
    display: flex;
  }
}
